{# src/Oro/BugTrackerBundle/Resources/views/default/index.html.twig #}
{% extends 'BugTrackerBundle::base.html.twig' %}


{% block content %}
    <div class="main">
        main
    </div>
{% endblock %}
