{% import 'BugTrackerBundle::macros.html.twig' as macros %}
{% set entity_paginator = paginator_object_by_qb(entity_class, collection, paginator_var) %}
{% if entity_paginator.entities_count > 0 %}
    <div class="panel panel-default mt-3 panel-bold">
        <!-- Default panel contents -->
        <div class="panel-heading p-2">
            {{ 'Activities'|trans }}
        </div>
        <div class="panel-body p-2">
            {{ include('BugTrackerBundle:Activity:list.html.twig',{collection: entity_paginator.entity_collection}) }}
        </div>
        <div class="text-center">
            {{ macros.renderPaginator(app.request.attributes.get('_route'), entity_paginator.max_pages, paginator_var) }}
        </div>
    </div>
{% endif %}
