{# src/Oro/BugTrackerBundle/Resources/views/customer/edit.html.twig #}
{% extends 'BugTrackerBundle::base.html.twig' %}
{% import 'BugTrackerBundle::macros.html.twig' as macros %}

{% block content %}
    <div id="customer-list">
        {{ macros.renderGrid(collection, header, entityRouter) }}
        <div class="text-center">
            {{ macros.renderPaginator(listRouteName, thisPage, maxPages) }}
        </div>
    </div>
{% endblock %}


